---
import SummaryCard from "@components/generic/SummaryCard.astro";
import type { CollectionEntry } from "astro:content";

export interface Props {
	post: CollectionEntry<"blog">;
}

const { post } = Astro.props;
---

<SummaryCard
	title={post.data.title}
	imgAlt={post.data.title}
	imgSrc={post.data.imgUrl}
	description={post.data.description}
>
	<div>
		<a href={`/blog/${post.slug}/`}>Read post &rarr;</a>
	</div>

	<div>
		<p class="sr-only">tags:</p>
		<div>
			<ul role='list'>
				{
					post.data.tags.map((tag) => {
						return (
							<li>
								<a class="pill" href={`/blog/tags/${tag.toLowerCase()}/`}>
									<span>{tag}</span>
								</a>
							</li>
						);
					})
				}
			</ul>
			{
				post.data.draft && (
					<span>
						Draft
					</span>
				)
			}
		</div>
	</div>
</SummaryCard>