---
import type { CollectionEntry } from "astro:content";

export interface Props {
	post: CollectionEntry<"blog">;
}

const { post } = Astro.props;
---

<article class="card flow">
	<h3>{post.data.title}</h3>
	<p class="truncate">{post.data.description}</p>

	<div>
		<a href={`/blog/${post.slug}/`}>Read post &rarr;</a>
	</div>

	<div>
		<p class="sr-only">tags:</p>
		<div>
			<ul role='list'>
				{
					post.data.tags.map((tag) => {
						return (
							<li>
								<a class="pill" href={`/blog/tags/${tag.toLowerCase()}/`}>
									<span>{tag}</span>
								</a>
							</li>
						);
					})
				}
			</ul>
		</div>
	</div>
</article>